In [1]:
import numpy as np
import pandas as pd
from sklearn.cluster import MiniBatchKMeans

# Bokeh
#!pip install gmplot
from bokeh.io import output_file, show
from bokeh.models import ColumnDataSource, GMapOptions
from bokeh.plotting import gmap

In [2]:
!pip install gmplot

Collecting gmplot
  Downloading gmplot-1.2.0.tar.gz (115 kB)
Requirement already satisfied: requests in c:\users\youssouf\anaconda3\lib\site-packages (from gmplot) (2.23.0)
Requirement already satisfied: idna<3,>=2.5 in c:\users\youssouf\anaconda3\lib\site-packages (from requests->gmplot) (2.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\youssouf\anaconda3\lib\site-packages (from requests->gmplot) (2020.4.5.1)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\youssouf\anaconda3\lib\site-packages (from requests->gmplot) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\youssouf\anaconda3\lib\site-packages (from requests->gmplot) (1.25.8)
Building wheels for collected packages: gmplot
  Building wheel for gmplot (setup.py): started
  Building wheel for gmplot (setup.py): finished with status 'done'
  Created wheel for gmplot: filename=gmplot-1.2.0-py3-none-any.whl size=143767 sha256=1c84ca4ef2b6c24d791fbed4c140750374795b810511bf295a1914209a612d0c
  Stored in directory: c:\users\youssouf\appdata\local\pip\cache\wheels\a1\bb\61\143790d9935e333669dd6aeef38f7aec9b3a1b7007f47d6fe8
Successfully built gmplot
Installing collected packages: gmplot
Successfully installed gmplot-1.2.0

In [3]:
url = "https://raw.githubusercontent.com/fivethirtyeight/uber-tlc-foil-response/master/uber-trip-data/uber-raw-data-apr14.csv"
df = pd.read_csv(url)

In [4]:
print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 564516 entries, 0 to 564515
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Date/Time  564516 non-null  object
 1   Lat        564516 non-null  float64
 2   Lon        564516 non-null  float64
 3   Base       564516 non-null  object
dtypes: float64(2), object(2)
memory usage: 17.2+ MB
None

          Date/Time      Lat      Lon    Base
0  4/1/2014 0:11:00  40.7690 -73.9549  B02512
1  4/1/2014 0:17:00  40.7267 -74.0345  B02512
2  4/1/2014 0:21:00  40.7316 -73.9873  B02512
3  4/1/2014 0:28:00  40.7588 -73.9776  B02512
4  4/1/2014 0:33:00  40.7594 -73.9722  B02512

In [7]:
X = df[['Lat','Lon']].sample(50000)

In [8]:
kmeans = MiniBatchKMeans(n_clusters=6)
kmeans.fit(X)
kmeans.cluster_centers_
kmeans.labels_

array([1, 0, 5, ..., 1, 3, 2])

In [9]:
kmeans.cluster_centers_

array([[ 40.65794397, -73.77692328],
       [ 40.76366748, -73.9744401 ],
       [ 40.7295605 , -73.99982244],
       [ 40.68773333, -73.96497192],
       [ 40.70431633, -74.18943265],
       [ 40.79824583, -73.86779931]])

In [9]:
#%bokeh.plotting inline

UsageError: Line magic function `%bokeh.plotting` not found.

In [6]:
output_file("gmap.html")

map_options = GMapOptions(lat=40.7128, lng=-74.0060, map_type="roadmap", zoom=10)
p = gmap("AIzaSyB-E81VWnuGE2A9iXgHHI3lz5ZOvbRIN3A", map_options, title="New York")

centroid = ColumnDataSource(data=dict(lat=kmeans.cluster_centers_[:,0],
                                      lon=kmeans.cluster_centers_[:,1]))

cluster_1 = ColumnDataSource(data=dict(lat=X[kmeans.labels_== 0].iloc[:,0],
                                             lon=X[kmeans.labels_== 0].iloc[:,1]))
cluster_2 = ColumnDataSource(data=dict(lat=X[kmeans.labels_== 1].iloc[:,0],
                                             lon=X[kmeans.labels_== 1].iloc[:,1]))
cluster_3 = ColumnDataSource(data=dict(lat=X[kmeans.labels_== 2].iloc[:,0],
                                             lon=X[kmeans.labels_== 2].iloc[:,1]))
cluster_4 = ColumnDataSource(data=dict(lat=X[kmeans.labels_== 3].iloc[:,0],
                                             lon=X[kmeans.labels_== 3].iloc[:,1]))
cluster_5 = ColumnDataSource(data=dict(lat=X[kmeans.labels_== 4].iloc[:,0],
                                             lon=X[kmeans.labels_== 4].iloc[:,1]))
cluster_6 = ColumnDataSource(data=dict(lat=X[kmeans.labels_== 5].iloc[:,0],
                                             lon=X[kmeans.labels_== 5].iloc[:,1]))

p.circle(x="lon", y="lat", size=8, fill_color="red", fill_alpha=0.8, source=cluster_1)
p.circle(x="lon", y="lat", size=8, fill_color="green", fill_alpha=0.8, source=cluster_2)
p.circle(x="lon", y="lat", size=8, fill_color="yellow", fill_alpha=0.8, source=cluster_3)
p.circle(x="lon", y="lat", size=8, fill_color="blue", fill_alpha=0.8, source=cluster_4)
p.circle(x="lon", y="lat", size=8, fill_color="magenta", fill_alpha=0.8, source=cluster_5)
p.circle(x="lon", y="lat", size=8, fill_color="white", fill_alpha=0.8, source=cluster_6)
p.circle(x="lon", y="lat", size=15, fill_color="black", fill_alpha=0.8, source=centroid)

show(p)

### Date / Time:

In [10]:
uber = df.sample(10000)
uber.head()

                 Date/Time      Lat      Lon    Base
431720  4/14/2014 18:49:00  40.7696 -73.9809  B02682
541146  4/29/2014 23:07:00  40.6469 -73.7886  B02682
530202  4/28/2014 15:31:00  40.7614 -73.9833  B02682
387691   4/8/2014 14:38:00  40.7514 -73.9799  B02682
380865   4/7/2014 17:33:00  40.7456 -74.0031  B02682

In [11]:
uber['Date/Time'] = pd.to_datetime(uber['Date/Time'])
uber['weekday'] = uber['Date/Time'].dt.dayofweek

In [12]:
uber.head()

                 Date/Time      Lat      Lon    Base  weekday
431720 2014-04-14 18:49:00  40.7696 -73.9809  B02682        0
541146 2014-04-29 23:07:00  40.6469 -73.7886  B02682        1
530202 2014-04-28 15:31:00  40.7614 -73.9833  B02682        0
387691 2014-04-08 14:38:00  40.7514 -73.9799  B02682        1
380865 2014-04-07 17:33:00  40.7456 -74.0031  B02682        0

In [9]:
uber.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10000 entries, 277515 to 488668
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date/Time  10000 non-null  datetime64[ns]
 1   Lat        10000 non-null  float64
 2   Lon        10000 non-null  float64
 3   Base       10000 non-null  object
 4   weekday    10000 non-null  int64
dtypes: datetime64[ns](1), float64(2), int64(1), object(1)
memory usage: 468.8+ KB

In [10]:
uber.head()

                 Date/Time      Lat      Lon    Base  weekday
277515 2014-04-17 11:34:00  40.7408 -73.9944  B02617        3
207921 2014-04-30 10:02:00  40.7628 -73.9775  B02598        2
203628 2014-04-29 19:53:00  40.7427 -73.9826  B02598        1
145978 2014-04-22 08:01:00  40.7648 -73.9754  B02598        1
296334 2014-04-23 18:22:00  40.7248 -73.9995  B02617        2

In [13]:
pd.to_numeric(uber['Date/Time'])

431720    1397501340000000000
541146    1398812820000000000
530202    1398699060000000000
387691    1396967880000000000
380865    1396891980000000000
                 ...
281366    1397820600000000000
119434    1397720160000000000
67063     1396866240000000000
482661    1398181200000000000
363187    1396695480000000000
Name: Date/Time, Length: 10000, dtype: int64