- **Link to dataset on kaggle web site** [Titanic: Machine Learning from Disaster](https://www.kaggle.com/c/titanic)

# Installing some useful Libraries and API for this project

In [ ]:
!pip install kaggle

In [ ]:
!pip uninstall -y kaggle
!pip install --upgrade pip
!pip install kaggle==1.5.6
!kaggle -v

In [ ]:
from google.colab import files
files.upload()

# Downloading dataset through Kaggle's API

In [ ]:
cd /root/

In [ ]:
ls

In [ ]:
!mkdir .kaggle
!mv /content/kaggle.json /root/.kaggle/kaggle.json

In [ ]:
cd /root/.kaggle/

In [ ]:
ls

In [ ]:
!chmod 600 /root/.kaggle/kaggle.json
!kaggle competitions download -p /content -c titanic

In [ ]:
cd /content/

In [ ]:
ls

In [ ]:
!unzip titanic.zip

# Removing any warnings messages

In [ ]:
import warnings
warnings.filterwarnings('ignore')

# Importing Libraries & Loading datasets

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re

In [111]:
# Lecture du fichier 
dataset1 = pd.read_csv("train.csv")
dataset1.tail(6)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.125,NaN,Q
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.450,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.750,NaN,Q

In [ ]:
len(dataset1['Name'].tolist())

In [169]:
def fonction(df):
    Rename = []
    #pattern = re.compile(r'(\w+,\s)(Mr.|Mrs.|Miss.|\s)*(\w+)')
    pattern = re.compile(r'(\w+.\s)(Mr.|Mrs.|Miss.)?')
    for i in df['Name'].tolist():
        test = pattern.search(str(i))
        if test==None:
            Rename.append('N/A')
        else:   
            #Rename.append(test.string)
            Rename.append((test.group(1), test.group(2)))
            
            
            
        #Rename.append(test.string)
        #test = pattern.finditer(str(i))
       # for x in test: 
        #    Rename.append((x.group(1),x.group(2)))
        #if test==None:
         #   Rename.append('N/A')
        #else:   
         #   Rename.append(test.string)
       
            

    return Rename

In [170]:
fonction(dataset1)

[('Braund, ', 'Mr.'),
 ('Cumings, ', 'Mrs'),
 ('Heikkinen, ', 'Miss.'),
 ('Futrelle, ', 'Mrs'),
 ('Allen, ', 'Mr.'),
 ('Moran, ', 'Mr.'),
 ('McCarthy, ', 'Mr.'),
 ('Palsson, ', None),
 ('Johnson, ', 'Mrs'),
 ('Nasser, ', 'Mrs'),
 ('Sandstrom, ', 'Miss.'),
 ('Bonnell, ', 'Miss.'),
 ('Saundercock, ', 'Mr.'),
 ('Andersson, ', 'Mr.'),
 ('Vestrom, ', 'Miss.'),
 ('Hewlett, ', 'Mrs'),
 ('Rice, ', None),
 ('Williams, ', 'Mr.'),
 ('Vander ', None),
 ('Masselmani, ', 'Mrs'),
 ('Fynney, ', 'Mr.'),
 ('Beesley, ', 'Mr.'),
 ('McGowan, ', 'Miss.'),
 ('Sloper, ', 'Mr.'),
 ('Palsson, ', 'Miss.'),
 ('Asplund, ', 'Mrs'),
 ('Emir, ', 'Mr.'),
 ('Fortune, ', 'Mr.'),
 ('Dwyer, ', 'Miss.'),
 ('Todoroff, ', 'Mr.'),
 ('Uruchurtu, ', None),
 ('Spencer, ', 'Mrs'),
 ('Glynn, ', 'Miss.'),
 ('Wheadon, ', 'Mr.'),
 ('Meyer, ', 'Mr.'),
 ('Holverson, ', 'Mr.'),
 ('Mamee, ', 'Mr.'),
 ('Cann, ', 'Mr.'),
 ('Vander ', None),
 ('Yarred, ', 'Miss.'),
 ('Ahlin, ', 'Mrs'),
 ('Turpin, ', 'Mrs'),
 ('Kraeff, ', 'Mr.'),
 ('Laroche, ', 'Miss.'),
 ('Devaney, ', 'Miss.'),
 ('Rogers, ', 'Mr.'),
 ('Lennon, ', 'Mr.'),
 ('Driscoll, ', 'Miss.'),
 ('Samaan, ', 'Mr.'),
 ('Franchi, ', 'Mrs'),
 ('Panula, ', None),
 ('Nosworthy, ', 'Mr.'),
 ('Harper, ', 'Mrs'),
 ('Faunthorpe, ', 'Mrs'),
 ('Ostby, ', 'Mr.'),
 ('Woolner, ', 'Mr.'),
 ('Rugg, ', 'Miss.'),
 ('Novel, ', 'Mr.'),
 ('West, ', 'Miss.'),
 ('Goodwin, ', None),
 ('Sirayanian, ', 'Mr.'),
 ('Icard, ', 'Miss.'),
 ('Harris, ', 'Mr.'),
 ('Skoog, ', None),
 ('Stewart, ', 'Mr.'),
 ('Moubarek, ', None),
 ('Nye, ', 'Mrs'),
 ('Crease, ', 'Mr.'),
 ('Andersson, ', 'Miss.'),
 ('Kink, ', 'Mr.'),
 ('Jenkin, ', 'Mr.'),
 ('Goodwin, ', 'Miss.'),
 ('Hood, ', 'Mr.'),
 ('Chronopoulos, ', 'Mr.'),
 ('Bing, ', 'Mr.'),
 ('Moen, ', 'Mr.'),
 ('Staneff, ', 'Mr.'),
 ('Moutal, ', 'Mr.'),
 ('Caldwell, ', None),
 ('Dowdell, ', 'Miss.'),
 ('Waelens, ', 'Mr.'),
 ('Sheerlinck, ', 'Mr.'),
 ('McDermott, ', 'Miss.'),
 ('Carrau, ', 'Mr.'),
 ('Ilett, ', 'Miss.'),
 ('Backstrom, ', 'Mrs'),
 ('Ford, ', 'Mr.'),
 ('Slocovski, ', 'Mr.'),
 ('Fortune, ', 'Miss.'),
 ('Celotti, ', 'Mr.'),
 ('Christmann, ', 'Mr.'),
 ('Andreasson, ', 'Mr.'),
 ('Chaffee, ', 'Mr.'),
 ('Dean, ', 'Mr.'),
 ('Coxon, ', 'Mr.'),
 ('Shorney, ', 'Mr.'),
 ('Goldschmidt, ', 'Mr.'),
 ('Greenfield, ', 'Mr.'),
 ('Doling, ', 'Mrs'),
 ('Kantor, ', 'Mr.'),
 ('Petranec, ', 'Miss.'),
 ('Petroff, ', 'Mr.'),
 ('White, ', 'Mr.'),
 ('Johansson, ', 'Mr.'),
 ('Gustafsson, ', 'Mr.'),
 ('Mionoff, ', 'Mr.'),
 ('Salkjelsvik, ', 'Miss.'),
 ('Moss, ', 'Mr.'),
 ('Rekic, ', 'Mr.'),
 ('Moran, ', 'Miss.'),
 ('Porter, ', 'Mr.'),
 ('Zabour, ', 'Miss.'),
 ('Barton, ', 'Mr.'),
 ('Jussila, ', 'Miss.'),
 ('Attalah, ', 'Miss.'),
 ('Pekoniemi, ', 'Mr.'),
 ('Connors, ', 'Mr.'),
 ('Turpin, ', 'Mr.'),
 ('Baxter, ', 'Mr.'),
 ('Andersson, ', 'Miss.'),
 ('Hickman, ', 'Mr.'),
 ('Moore, ', 'Mr.'),
 ('Nasser, ', 'Mr.'),
 ('Webber, ', 'Miss.'),
 ('White, ', 'Mr.'),
 ('Yarred, ', None),
 ('McMahon, ', 'Mr.'),
 ('Madsen, ', 'Mr.'),
 ('Peter, ', 'Miss.'),
 ('Ekstrom, ', 'Mr.'),
 ('Drazenoic, ', 'Mr.'),
 ('Coelho, ', 'Mr.'),
 ('Robins, ', 'Mrs'),
 ('Weisz, ', 'Mrs'),
 ('Sobey, ', 'Mr.'),
 ('Richard, ', 'Mr.'),
 ('Newsom, ', 'Miss.'),
 ('Futrelle, ', 'Mr.'),
 ('Osen, ', 'Mr.'),
 ('Giglio, ', 'Mr.'),
 ('Boulos, ', 'Mrs'),
 ('Nysten, ', 'Miss.'),
 ('Hakkarainen, ', 'Mrs'),
 ('Burke, ', 'Mr.'),
 ('Andrew, ', 'Mr.'),
 ('Nicholls, ', 'Mr.'),
 ('Andersson, ', 'Mr.'),
 ('Ford, ', 'Miss.'),
 ('Navratil, ', 'Mr.'),
 ('Byles, ', None),
 ('Bateman, ', None),
 ('Pears, ', 'Mrs'),
 ('Meo, ', 'Mr.'),
 ('van ', None),
 ('Olsen, ', 'Mr.'),
 ('Williams, ', 'Mr.'),
 ('Gilnagh, ', 'Miss.'),
 ('Corn, ', 'Mr.'),
 ('Smiljanic, ', 'Mr.'),
 ('Sage, ', None),
 ('Cribb, ', 'Mr.'),
 ('Watt, ', 'Mrs'),
 ('Bengtsson, ', 'Mr.'),
 ('Calic, ', 'Mr.'),
 ('Panula, ', None),
 ('Goldsmith, ', None),
 ('Chibnall, ', 'Mrs'),
 ('Skoog, ', 'Mrs'),
 ('Baumann, ', 'Mr.'),
 ('Ling, ', 'Mr.'),
 ('Van ', None),
 ('Rice, ', None),
 ('Johnson, ', 'Miss.'),
 ('Sivola, ', 'Mr.'),
 ('Smith, ', 'Mr.'),
 ('Klasen, ', 'Mr.'),
 ('Lefebre, ', None),
 ('Isham, ', 'Miss.'),
 ('Hale, ', 'Mr.'),
 ('Leonard, ', 'Mr.'),
 ('Sage, ', 'Miss.'),
 ('Pernot, ', 'Mr.'),
 ('Asplund, ', None),
 ('Becker, ', None),
 ('Heilmann, ', 'Miss.'),
 ('Rood, ', 'Mr.'),
 ('Brien, ', 'Mrs'),
 ('Romaine, ', 'Mr.'),
 ('Bourke, ', 'Mr.'),
 ('Turcin, ', 'Mr.'),
 ('Pinsky, ', 'Mrs'),
 ('Carbines, ', 'Mr.'),
 ('Jensen, ', 'Miss.'),
 ('Navratil, ', None),
 ('Brown, ', 'Mrs'),
 ('Lurette, ', 'Miss.'),
 ('Mernagh, ', 'Mr.'),
 ('Olsen, ', 'Mr.'),
 ('Madigan, ', 'Miss.'),
 ('Yrois, ', 'Miss.'),
 ('Vande ', None),
 ('Sage, ', 'Mr.'),
 ('Johanson, ', 'Mr.'),
 ('Youseff, ', 'Mr.'),
 ('Cohen, ', 'Mr.'),
 ('Strom, ', 'Miss.'),
 ('Backstrom, ', 'Mr.'),
 ('Albimona, ', 'Mr.'),
 ('Carr, ', 'Miss.'),
 ('Blank, ', 'Mr.'),
 ('Ali, ', 'Mr.'),
 ('Cameron, ', 'Miss.'),
 ('Perkin, ', 'Mr.'),
 ('Givard, ', 'Mr.'),
 ('Kiernan, ', 'Mr.'),
 ('Newell, ', 'Miss.'),
 ('Honkanen, ', 'Miss.'),
 ('Jacobsohn, ', 'Mr.'),
 ('Bazzani, ', 'Miss.'),
 ('Harris, ', 'Mr.'),
 ('Sunderland, ', 'Mr.'),
 ('Bracken, ', 'Mr.'),
 ('Green, ', 'Mr.'),
 ('Nenkoff, ', 'Mr.'),
 ('Hoyt, ', 'Mr.'),
 ('Berglund, ', 'Mr.'),
 ('Mellors, ', 'Mr.'),
 ('Lovell, ', 'Mr.'),
 ('Fahlstrom, ', 'Mr.'),
 ('Lefebre, ', 'Miss.'),
 ('Harris, ', 'Mrs'),
 ('Larsson, ', 'Mr.'),
 ('Sjostedt, ', 'Mr.'),
 ('Asplund, ', 'Miss.'),
 ('Leyson, ', 'Mr.'),
 ('Harknett, ', 'Miss.'),
 ('Hold, ', 'Mr.'),
 ('Collyer, ', 'Miss.'),
 ('Pengelly, ', 'Mr.'),
 ('Hunt, ', 'Mr.'),
 ('Zabour, ', 'Miss.'),
 ('Murphy, ', 'Miss.'),
 ('Coleridge, ', 'Mr.'),
 ('Maenpaa, ', 'Mr.'),
 ('Attalah, ', 'Mr.'),
 ('Minahan, ', None),
 ('Lindahl, ', 'Miss.'),
 ('Hamalainen, ', 'Mrs'),
 ('Beckwith, ', 'Mr.'),
 ('Carter, ', None),
 ('Reed, ', 'Mr.'),
 ('Strom, ', 'Mrs'),
 ('Stead, ', 'Mr.'),
 ('Lobb, ', 'Mr.'),
 ('Rosblom, ', 'Mrs'),
 ('Touma, ', 'Mrs'),
 ('Thorne, ', 'Mrs'),
 ('Cherry, ', 'Miss.'),
 ('Ward, ', 'Miss.'),
 ('Parrish, ', 'Mrs'),
 ('Smith, ', 'Mr.'),
 ('Asplund, ', None),
 ('Taussig, ', 'Mr.'),
 ('Harrison, ', 'Mr.'),
 ('Henry, ', 'Miss.'),
 ('Reeves, ', 'Mr.'),
 ('Panula, ', 'Mr.'),
 ('Persson, ', 'Mr.'),
 ('Graham, ', 'Mrs'),
 ('Bissette, ', 'Miss.'),
 ('Cairns, ', 'Mr.'),
 ('Tornquist, ', 'Mr.'),
 ('Mellinger, ', 'Mrs'),
 ('Natsch, ', 'Mr.'),
 ('Healy, ', 'Miss.'),
 ('Andrews, ', 'Miss.'),
 ('Lindblom, ', 'Miss.'),
 ('Parkes, ', 'Mr.'),
 ('Rice, ', None),
 ('Abbott, ', 'Mrs'),
 ('Duane, ', 'Mr.'),
 ('Olsson, ', 'Mr.'),
 ('de ', None),
 ('Dorking, ', 'Mr.'),
 ('Smith, ', 'Mr.'),
 ('Stankovic, ', 'Mr.'),
 ('de ', None),
 ('Naidenoff, ', 'Mr.'),
 ('Hosono, ', 'Mr.'),
 ('Connolly, ', 'Miss.'),
 ('Barber, ', 'Miss.'),
 ('Bishop, ', 'Mrs'),
 ('Levy, ', 'Mr.'),
 ('Haas, ', 'Miss.'),
 ('Mineff, ', 'Mr.'),
 ('Lewy, ', 'Mr.'),
 ('Hanna, ', 'Mr.'),
 ('Allison, ', 'Miss.'),
 ('Saalfeld, ', 'Mr.'),
 ('Baxter, ', 'Mrs'),
 ('Kelly, ', 'Miss.'),
 ('McCoy, ', 'Mr.'),
 ('Johnson, ', 'Mr.'),
 ('Keane, ', 'Miss.'),
 ('Williams, ', 'Mr.'),
 ('Allison, ', None),
 ('Fleming, ', 'Miss.'),
 ('Penasco ', None),
 ('Abelson, ', 'Mr.'),
 ('Francatelli, ', 'Miss.'),
 ('Hays, ', 'Miss.'),
 ('Ryerson, ', 'Miss.'),
 ('Lahtinen, ', 'Mrs'),
 ('Hendekovic, ', 'Mr.'),
 ('Hart, ', 'Mr.'),
 ('Nilsson, ', 'Miss.'),
 ('Kantor, ', 'Mrs'),
 ('Moraweck, ', None),
 ('Wick, ', 'Miss.'),
 ('Spedden, ', 'Mrs'),
 ('Dennis, ', 'Mr.'),
 ('Danoff, ', 'Mr.'),
 ('Slayter, ', 'Miss.'),
 ('Caldwell, ', 'Mrs'),
 ('Sage, ', 'Mr.'),
 ('Young, ', 'Miss.'),
 ('Nysveen, ', 'Mr.'),
 ('Ball, ', 'Mrs'),
 ('Goldsmith, ', 'Mrs'),
 ('Hippach, ', 'Miss.'),
 ('McCoy, ', 'Miss.'),
 ('Partner, ', 'Mr.'),
 ('Graham, ', 'Mr.'),
 ('Vander ', None),
 ('Frauenthal, ', 'Mrs'),
 ('Denkoff, ', 'Mr.'),
 ('Pears, ', 'Mr.'),
 ('Burns, ', 'Miss.'),
 ('Dahl, ', 'Mr.'),
 ('Blackwell, ', 'Mr.'),
 ('Navratil, ', None),
 ('Fortune, ', 'Miss.'),
 ('Collander, ', 'Mr.'),
 ('Sedgwick, ', 'Mr.'),
 ('Fox, ', 'Mr.'),
 ('Brown, ', 'Miss.'),
 ('Smith, ', 'Miss.'),
 ('Davison, ', 'Mrs'),
 ('Coutts, ', None),
 ('Dimic, ', 'Mr.'),
 ('Odahl, ', 'Mr.'),
 ('Lambert, ', 'Mr.'),
 ('Elias, ', 'Mr.'),
 ('Franchi, ', 'Mr.'),
 ('Yousif, ', 'Mr.'),
 ('Vanden ', None),
 ('Bowerman, ', 'Miss.'),
 ('Funk, ', 'Miss.'),
 ('McGovern, ', 'Miss.'),
 ('Mockler, ', 'Miss.'),
 ('Skoog, ', 'Mr.'),
 ('del ', None),
 ('Barbara, ', 'Mrs'),
 ('Asim, ', 'Mr.'),
 ('Brien, ', 'Mr.'),
 ('Adahl, ', 'Mr.'),
 ('Warren, ', 'Mrs'),
 ('Moussa, ', 'Mrs'),
 ('Jermyn, ', 'Miss.'),
 ('Aubart, ', None),
 ('Harder, ', 'Mr.'),
 ('Wiklund, ', 'Mr.'),
 ('Beavan, ', 'Mr.'),
 ('Ringhini, ', 'Mr.'),
 ('Palsson, ', 'Miss.'),
 ('Meyer, ', 'Mrs'),
 ('Landergren, ', 'Miss.'),
 ('Widener, ', 'Mr.'),
 ('Betros, ', 'Mr.'),
 ('Gustafsson, ', 'Mr.'),
 ('Bidois, ', 'Miss.'),
 ('Nakid, ', 'Miss.'),
 ('Tikkanen, ', 'Mr.'),
 ('Holverson, ', 'Mrs'),
 ('Plotcharsky, ', 'Mr.'),
 ('Davies, ', 'Mr.'),
 ('Goodwin, ', None),
 ('Buss, ', 'Miss.'),
 ('Sadlier, ', 'Mr.'),
 ('Lehmann, ', 'Miss.'),
 ('Carter, ', 'Mr.'),
 ('Jansson, ', 'Mr.'),
 ('Gustafsson, ', 'Mr.'),
 ('Newell, ', 'Miss.'),
 ('Sandstrom, ', 'Mrs'),
 ('Johansson, ', 'Mr.'),
 ('Olsson, ', 'Miss.'),
 ('McKane, ', 'Mr.'),
 ('Pain, ', None),
 ('Trout, ', 'Mrs'),
 ('Niskanen, ', 'Mr.'),
 ('Adams, ', 'Mr.'),
 ('Jussila, ', 'Miss.'),
 ('Hakkarainen, ', 'Mr.'),
 ('Oreskovic, ', 'Miss.'),
 ('Gale, ', 'Mr.'),
 ('Widegren, ', 'Mr.'),
 ('Richards, ', None),
 ('Birkeland, ', 'Mr.'),
 ('Lefebre, ', 'Miss.'),
 ('Sdycoff, ', 'Mr.'),
 ('Hart, ', 'Mr.'),
 ('Minahan, ', 'Miss.'),
 ('Cunningham, ', 'Mr.'),
 ('Sundman, ', 'Mr.'),
 ('Meek, ', 'Mrs'),
 ('Drew, ', 'Mrs'),
 ('Silven, ', 'Miss.'),
 ('Matthews, ', 'Mr.'),
 ('Van ', None),
 ('Gheorgheff, ', 'Mr.'),
 ('Charters, ', 'Mr.'),
 ('Zimmerman, ', 'Mr.'),
 ('Danbom, ', 'Mrs'),
 ('Rosblom, ', 'Mr.'),
 ('Wiseman, ', 'Mr.'),
 ('Clarke, ', 'Mrs'),
 ('Phillips, ', 'Miss.'),
 ('Flynn, ', 'Mr.'),
 ('Pickard, ', 'Mr.'),
 ('Steffansson, ', 'Mr.'),
 ('Thorneycroft, ', 'Mrs'),
 ('Louch, ', 'Mrs'),
 ('Kallio, ', 'Mr.'),
 ('Silvey, ', 'Mr.'),
 ('Carter, ', 'Miss.'),
 ('Ford, ', 'Miss.'),
 ('Richards, ', 'Mrs'),
 ('Fortune, ', 'Mr.'),
 ('Kvillner, ', 'Mr.'),
 ('Hart, ', 'Mrs'),
 ('Hampe, ', 'Mr.'),
 ('Petterson, ', 'Mr.'),
 ('Reynaldo, ', None),
 ('Bratthammer, ', 'Mr.'),
 ('Dodge, ', None),
 ('Mellinger, ', 'Miss.'),
 ('Seward, ', 'Mr.'),
 ('Baclini, ', 'Miss.'),
 ('Peuchen, ', None),
 ('West, ', 'Mr.'),
 ('Hagland, ', 'Mr.'),
 ('Foreman, ', 'Mr.'),
 ('Goldenberg, ', 'Mr.'),
 ('Peduzzi, ', 'Mr.'),
 ('Jalsevac, ', 'Mr.'),
 ('Millet, ', 'Mr.'),
 ('Kenyon, ', 'Mrs'),
 ('Toomey, ', 'Miss.'),
 ('Connor, ', 'Mr.'),
 ('Anderson, ', 'Mr.'),
 ('Morley, ', 'Mr.'),
 ('Gee, ', 'Mr.'),
 ('Milling, ', 'Mr.'),
 ('Maisner, ', 'Mr.'),
 ('Goncalves, ', 'Mr.'),
 ('Campbell, ', 'Mr.'),
 ('Smart, ', 'Mr.'),
 ('Scanlan, ', 'Mr.'),
 ('Baclini, ', 'Miss.'),
 ('Keefe, ', 'Mr.'),
 ('Cacic, ', 'Mr.'),
 ('West, ', 'Mrs'),
 ('Jerwan, ', 'Mrs'),
 ('Strandberg, ', 'Miss.'),
 ('Clifford, ', 'Mr.'),
 ('Renouf, ', 'Mr.'),
 ('Braund, ', 'Mr.'),
 ('Karlsson, ', 'Mr.'),
 ('Hirvonen, ', 'Miss.'),
 ('Goodwin, ', None),
 ('Frost, ', 'Mr.'),
 ('Rouse, ', 'Mr.'),
 ('Turkula, ', 'Mrs'),
 ('Bishop, ', 'Mr.'),
 ('Lefebre, ', 'Miss.'),
 ('Hoyt, ', 'Mrs'),
 ('Kent, ', 'Mr.'),
 ('Somerton, ', 'Mr.'),
 ('Coutts, ', None),
 ('Hagland, ', 'Mr.'),
 ('Windelov, ', 'Mr.'),
 ('Molson, ', 'Mr.'),
 ('Artagaveytia, ', 'Mr.'),
 ('Stanley, ', 'Mr.'),
 ('Yousseff, ', 'Mr.'),
 ('Eustis, ', 'Miss.'),
 ('Shellard, ', 'Mr.'),
 ('Allison, ', 'Mrs'),
 ('Svensson, ', 'Mr.'),
 ('Calic, ', 'Mr.'),
 ('Canavan, ', 'Miss.'),
 ('Sullivan, ', 'Miss.'),
 ('Laitinen, ', 'Miss.'),
 ('Maioni, ', 'Miss.'),
 ('Penasco ', None),
 ('Quick, ', 'Mrs'),
 ('Bradley, ', 'Mr.'),
 ('Olsen, ', 'Mr.'),
 ('Lang, ', 'Mr.'),
 ('Daly, ', 'Mr.'),
 ('Webber, ', 'Mr.'),
 ('McGough, ', 'Mr.'),
 ('Rothschild, ', 'Mrs'),
 ('Coleff, ', 'Mr.'),
 ('Walker, ', 'Mr.'),
 ('Lemore, ', 'Mrs'),
 ('Ryan, ', 'Mr.'),
 ('Angle, ', 'Mrs'),
 ('Pavlovic, ', 'Mr.'),
 ('Perreault, ', 'Miss.'),
 ('Vovk, ', 'Mr.'),
 ('Lahoud, ', 'Mr.'),
 ('Hippach, ', 'Mrs'),
 ('Kassem, ', 'Mr.'),
 ('Farrell, ', 'Mr.'),
 ('Ridsdale, ', 'Miss.'),
 ('Farthing, ', 'Mr.'),
 ('Salonen, ', 'Mr.'),
 ('Hocking, ', 'Mr.'),
 ('Quick, ', 'Miss.'),
 ('Toufik, ', 'Mr.'),
 ('Elias, ', 'Mr.'),
 ('Peter, ', 'Mrs'),
 ('Cacic, ', 'Miss.'),
 ('Hart, ', 'Miss.'),
 ('Butt, ', None),
 ('LeRoy, ', 'Miss.'),
 ('Risien, ', 'Mr.'),
 ('Frolicher, ', 'Miss.'),
 ('Crosby, ', 'Miss.'),
 ('Andersson, ', 'Miss.'),
 ('Andersson, ', 'Miss.'),
 ('Beane, ', 'Mr.'),
 ('Douglas, ', 'Mr.'),
 ('Nicholson, ', 'Mr.'),
 ('Beane, ', 'Mrs'),
 ('Padro ', None),
 ('Goldsmith, ', 'Mr.'),
 ('Davies, ', None),
 ('Thayer, ', 'Mr.'),
 ('Sharp, ', 'Mr.'),
 ('Brien, ', 'Mr.'),
 ('Leeni, ', 'Mr.'),
 ('Ohman, ', 'Miss.'),
 ('Wright, ', 'Mr.'),
 ('Duff ', None),
 ('Robbins, ', 'Mr.'),
 ('Taussig, ', 'Mrs'),
 ('de ', None),
 ('Morrow, ', 'Mr.'),
 ('Sivic, ', 'Mr.'),
 ('Norman, ', 'Mr.'),
 ('Simmons, ', 'Mr.'),
 ('Meanwell, ', 'Miss.'),
 ('Davies, ', 'Mr.'),
 ('Stoytcheff, ', 'Mr.'),
 ('Palsson, ', 'Mrs'),
 ('Doharr, ', 'Mr.'),
 ('Jonsson, ', 'Mr.'),
 ('Harris, ', 'Mr.'),
 ('Appleton, ', 'Mrs'),
 ('Flynn, ', 'Mr.'),
 ('Kelly, ', 'Miss.'),
 ('Rush, ', 'Mr.'),
 ('Patchett, ', 'Mr.'),
 ('Garside, ', 'Miss.'),
 ('Silvey, ', 'Mrs'),
 ('Caram, ', 'Mrs'),
 ('Jussila, ', 'Mr.'),
 ('Christy, ', 'Miss.'),
 ('Thayer, ', 'Mrs'),
 ('Downton, ', 'Mr.'),
 ('Ross, ', 'Mr.'),
 ('Paulner, ', 'Mr.'),
 ('Taussig, ', 'Miss.'),
 ('Jarvis, ', 'Mr.'),
 ('Stehli, ', 'Mr.'),
 ('Gilinski, ', 'Mr.'),
 ('Murdlin, ', 'Mr.'),
 ('Rintamaki, ', 'Mr.'),
 ('Stephenson, ', 'Mrs'),
 ('Elsbury, ', 'Mr.'),
 ('Bourke, ', 'Miss.'),
 ('Chapman, ', 'Mr.'),
 ('Van ', None),
 ('Leitch, ', 'Miss.'),
 ('Johnson, ', 'Mr.'),
 ('Boulos, ', 'Mr.'),
 ('Duff ', None),
 ('Jacobsohn, ', 'Mrs'),
 ('Slabenoff, ', 'Mr.'),
 ('Harrington, ', 'Mr.'),
 ('Torber, ', 'Mr.'),
 ('Homer, ', 'Mr.'),
 ('Lindell, ', 'Mr.'),
 ('Karaic, ', 'Mr.'),
 ('Daniel, ', 'Mr.'),
 ('Laroche, ', 'Mrs'),
 ('Shutes, ', 'Miss.'),
 ('Andersson, ', 'Mrs'),
 ('Jardin, ', 'Mr.'),
 ('Murphy, ', 'Miss.'),
 ('Horgan, ', 'Mr.'),
 ('Brocklebank, ', 'Mr.'),
 ('Herman, ', 'Miss.'),
 ('Danbom, ', 'Mr.'),
 ('Lobb, ', 'Mrs'),
 ('Becker, ', 'Miss.'),
 ('Gavey, ', 'Mr.'),
 ('Yasbeck, ', 'Mr.'),
 ('Kimball, ', 'Mr.'),
 ('Nakid, ', 'Mr.'),
 ('Hansen, ', 'Mr.'),
 ('Bowen, ', 'Mr.'),
 ('Sutton, ', 'Mr.'),
 ('Kirkland, ', None),
 ('Longley, ', 'Miss.'),
 ('Bostandyeff, ', 'Mr.'),
 ('Connell, ', 'Mr.'),
 ('Barkworth, ', 'Mr.'),
 ('Lundahl, ', 'Mr.'),
 ('Maeglin, ', None),
 ('Parr, ', 'Mr.'),
 ('Skoog, ', 'Miss.'),
 ('Davis, ', 'Miss.'),
 ('Leinonen, ', 'Mr.'),
 ('Collyer, ', 'Mr.'),
 ('Panula, ', 'Mrs'),
 ('Thorneycroft, ', 'Mr.'),
 ('Jensen, ', 'Mr.'),
 ('Sagesser, ', None),
 ('Skoog, ', 'Miss.'),
 ('Foo, ', 'Mr.'),
 ('Baclini, ', 'Miss.'),
 ('Harper, ', 'Mr.'),
 ('Cor, ', 'Mr.'),
 ('Blumer, ', None),
 ('Willey, ', 'Mr.'),
 ('Stanley, ', 'Miss.'),
 ('Mitkoff, ', 'Mr.'),
 ('Doling, ', 'Miss.'),
 ('Kalvik, ', 'Mr.'),
 ('Leary, ', 'Miss.'),
 ('Hegarty, ', 'Miss.'),
 ('Hickman, ', 'Mr.'),
 ('Radeff, ', 'Mr.'),
 ('Bourke, ', 'Mrs'),
 ('Eitemiller, ', 'Mr.'),
 ('Newell, ', 'Mr.'),
 ('Frauenthal, ', None),
 ('Badt, ', 'Mr.'),
 ('Colley, ', 'Mr.'),
 ('Coleff, ', 'Mr.'),
 ('Lindqvist, ', 'Mr.'),
 ('Hickman, ', 'Mr.'),
 ('Butler, ', 'Mr.'),
 ('Rommetvedt, ', 'Mr.'),
 ('Cook, ', 'Mr.'),
 ('Taylor, ', 'Mrs'),
 ('Brown, ', 'Mrs'),
 ('Davidson, ', 'Mr.'),
 ('Mitchell, ', 'Mr.'),
 ('Wilhelms, ', 'Mr.'),
 ('Watson, ', 'Mr.'),
 ('Edvardsson, ', 'Mr.'),
 ('Sawyer, ', 'Mr.'),
 ('Turja, ', 'Miss.'),
 ('Goodwin, ', 'Mrs'),
 ('Cardeza, ', 'Mr.'),
 ('Peters, ', 'Miss.'),
 ('Hassab, ', 'Mr.'),
 ('Olsvigen, ', 'Mr.'),
 ('Goodwin, ', 'Mr.'),
 ('Brown, ', 'Mr.'),
 ('Laroche, ', 'Mr.'),
 ('Panula, ', 'Mr.'),
 ('Dakic, ', 'Mr.'),
 ('Fischer, ', 'Mr.'),
 ('Madill, ', 'Miss.'),
 ('Dick, ', 'Mr.'),
 ('Karun, ', 'Miss.'),
 ('Lam, ', 'Mr.'),
 ('Saad, ', 'Mr.'),
 ('Weir, ', None),
 ('Chapman, ', 'Mr.'),
 ('Kelly, ', 'Mr.'),
 ('Mullens, ', 'Miss.'),
 ('Thayer, ', 'Mr.'),
 ('Humblen, ', 'Mr.'),
 ('Astor, ', 'Mrs'),
 ('Silverthorne, ', 'Mr.'),
 ('Barbara, ', 'Miss.'),
 ('Gallagher, ', 'Mr.'),
 ('Hansen, ', 'Mr.'),
 ('Morley, ', 'Mr.'),
 ('Kelly, ', 'Mrs'),
 ('Calderhead, ', 'Mr.'),
 ('Cleaver, ', 'Miss.'),
 ('Moubarek, ', None),
 ('Mayne, ', None),
 ('Klaber, ', 'Mr.'),
 ('Taylor, ', 'Mr.'),
 ('Larsson, ', 'Mr.'),
 ('Greenberg, ', 'Mr.'),
 ('Soholt, ', 'Mr.'),
 ('Endres, ', 'Miss.'),
 ('Troutt, ', 'Miss.'),
 ('McEvoy, ', 'Mr.'),
 ('Johnson, ', 'Mr.'),
 ('Harper, ', 'Miss.'),
 ('Jensen, ', 'Mr.'),
 ('Gillespie, ', 'Mr.'),
 ('Hodges, ', 'Mr.'),
 ('Chambers, ', 'Mr.'),
 ('Oreskovic, ', 'Mr.'),
 ('Renouf, ', 'Mrs'),
 ('Mannion, ', 'Miss.'),
 ('Bryhl, ', 'Mr.'),
 ('Ilmakangas, ', 'Miss.'),
 ('Allen, ', 'Miss.'),
 ('Hassan, ', 'Mr.'),
 ('Knight, ', 'Mr.'),
 ('Berriman, ', 'Mr.'),
 ('Troupiansky, ', 'Mr.'),
 ('Williams, ', 'Mr.'),
 ('Ford, ', 'Mrs'),
 ('Lesurer, ', 'Mr.'),
 ('Ivanoff, ', 'Mr.'),
 ('Nankoff, ', 'Mr.'),
 ('Hawksford, ', 'Mr.'),
 ('Cavendish, ', 'Mr.'),
 ('Ryerson, ', 'Miss.'),
 ('McNamee, ', 'Mr.'),
 ('Stranden, ', 'Mr.'),
 ('Crosby, ', None),
 ('Abbott, ', 'Mr.'),
 ('Sinkkonen, ', 'Miss.'),
 ('Marvin, ', 'Mr.'),
 ('Connaghton, ', 'Mr.'),
 ('Wells, ', 'Miss.'),
 ('Moor, ', None),
 ('Vande ', None),
 ('Jonkoff, ', 'Mr.'),
 ('Herman, ', 'Mrs'),
 ('Hamalainen, ', None),
 ('Carlsson, ', 'Mr.'),
 ('Bailey, ', 'Mr.'),
 ('Theobald, ', 'Mr.'),
 ('Rothes, ', None),
 ('Garfirth, ', 'Mr.'),
 ('Nirva, ', 'Mr.'),
 ('Barah, ', 'Mr.'),
 ('Carter, ', 'Mrs'),
 ('Eklund, ', 'Mr.'),
 ('Hogeboom, ', 'Mrs'),
 ('Brewe, ', None),
 ('Mangan, ', 'Miss.'),
 ('Moran, ', 'Mr.'),
 ('Gronnestad, ', 'Mr.'),
 ('Lievens, ', 'Mr.'),
 ('Jensen, ', 'Mr.'),
 ('Mack, ', 'Mrs'),
 ('Elias, ', 'Mr.'),
 ('Hocking, ', 'Mrs'),
 ('Myhrman, ', 'Mr.'),
 ('Tobin, ', 'Mr.'),
 ('Emanuel, ', 'Miss.'),
 ('Kilgannon, ', 'Mr.'),
 ('Robert, ', 'Mrs'),
 ('Ayoub, ', 'Miss.'),
 ('Dick, ', 'Mrs'),
 ('Long, ', 'Mr.'),
 ('Johnston, ', 'Mr.'),
 ('Ali, ', 'Mr.'),
 ('Harmer, ', 'Mr.'),
 ('Sjoblom, ', 'Miss.'),
 ('Rice, ', None),
 ('Dean, ', None),
 ('Guggenheim, ', 'Mr.'),
 ('Keane, ', 'Mr.'),
 ('Gaskell, ', 'Mr.'),
 ('Sage, ', 'Miss.'),
 ('Hoyt, ', 'Mr.'),
 ('Dantcheff, ', 'Mr.'),
 ('Otter, ', 'Mr.'),
 ('Leader, ', None),
 ('Osman, ', 'Mrs'),
 ('Ibrahim ', None),
 ('Van ', None),
 ('Ponesell, ', 'Mr.'),
 ('Collyer, ', 'Mrs'),
 ('Carter, ', None),
 ('Thomas, ', None),
 ('Hedman, ', 'Mr.'),
 ('Johansson, ', 'Mr.'),
 ('Andrews, ', 'Mr.'),
 ('Pettersson, ', 'Miss.'),
 ('Meyer, ', 'Mr.'),
 ('Chambers, ', 'Mrs'),
 ('Alexander, ', 'Mr.'),
 ('Lester, ', 'Mr.'),
 ('Slemen, ', 'Mr.'),
 ('Andersson, ', 'Miss.'),
 ('Tomlin, ', 'Mr.'),
 ('Fry, ', 'Mr.'),
 ('Heininen, ', 'Miss.'),
 ('Mallet, ', 'Mr.'),
 ('Holm, ', 'Mr.'),
 ('Skoog, ', None),
 ('Hays, ', 'Mrs'),
 ('Lulic, ', 'Mr.'),
 ('Reuchlin, ', None),
 ('Moor, ', 'Mrs'),
 ('Panula, ', None),
 ('Flynn, ', 'Mr.'),
 ('Lam, ', 'Mr.'),
 ('Mallet, ', None),
 ('McCormack, ', 'Mr.'),
 ('Stone, ', 'Mrs'),
 ('Yasbeck, ', 'Mrs'),
 ('Richards, ', None),
 ('Saad, ', 'Mr.'),
 ('Augustsson, ', 'Mr.'),
 ('Allum, ', 'Mr.'),
 ('Compton, ', 'Miss.'),
 ('Pasic, ', 'Mr.'),
 ('Sirota, ', 'Mr.'),
 ('Chip, ', 'Mr.'),
 ('Marechal, ', 'Mr.'),
 ('Alhomaki, ', 'Mr.'),
 ('Mudd, ', 'Mr.'),
 ('Serepeca, ', 'Miss.'),
 ('Lemberopolous, ', 'Mr.'),
 ('Culumovic, ', 'Mr.'),
 ('Abbing, ', 'Mr.'),
 ('Sage, ', 'Mr.'),
 ('Markoff, ', 'Mr.'),
 ('Harper, ', None),
 ('Goldenberg, ', 'Mrs'),
 ('Andersson, ', None),
 ('Svensson, ', 'Mr.'),
 ('Boulos, ', 'Miss.'),
 ('Lines, ', 'Miss.'),
 ('Carter, ', 'Mrs'),
 ('Aks, ', 'Mrs'),
 ('Wick, ', 'Mrs'),
 ('Daly, ', 'Mr.'),
 ('Baclini, ', 'Mrs'),
 ('Razi, ', 'Mr.'),
 ('Hansen, ', 'Mr.'),
 ('Giles, ', 'Mr.'),
 ('Swift, ', 'Mrs'),
 ('Sage, ', 'Miss.'),
 ('Gill, ', 'Mr.'),
 ('Bystrom, ', 'Mrs'),
 ('Duran ', None),
 ('Roebling, ', 'Mr.'),
 ('van ', None),
 ('Johnson, ', None),
 ('Balkic, ', 'Mr.'),
 ('Beckwith, ', 'Mrs'),
 ('Carlsson, ', 'Mr.'),
 ('Vander ', None),
 ('Abelson, ', 'Mrs'),
 ('Najib, ', 'Miss.'),
 ('Gustafsson, ', 'Mr.'),
 ('Petroff, ', 'Mr.'),

In [171]:
rename = fonction(dataset1)
print(len(rename))
print(len(dataset1))

891
891

In [172]:
rename = fonction(dataset1)
dataset1['Rename']=rename
dataset1.tail()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Rename
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S,"(Montvila, , None)"
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S,"(Graham, , Miss.)"
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S,"(Johnston, , Miss.)"
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C,"(Behr, , Mr.)"
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q,"(Dooley, , Mr.)"

In [95]:
rename = fonction(dataset1)
len(rename)

809

In [15]:
rename = fonction(dataset2)
dataset2 = pd.read_csv("test.csv")
dataset2['Rename']=rename
dataset2.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Rename
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q,"Kelly, Mr. James"
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S,"Wilkes, Mrs. James (Ellen Needs)"
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q,"Myles, Mr. Thomas Francis"
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S,"Wirz, Mr. Albert"
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)"

In [ ]:
dataset1.head()

# Data Viz

In [ ]:
fig, ax = plt.subplots(1,2, figsize=(20,5), sharex=True, constrained_layout=False)

sns.countplot(x="Survived", data=dataset1, ax=ax[0])
plt.xticks(np.arange(2), ('NO', 'YES'))
ax[0].set_xlabel("Survived", fontsize=15, color='b')
ax[0].set_ylabel("Count", fontsize=15, color='b')
ax[0].set_title("Survival Rate", fontsize=15, color='m')

sns.countplot(x="Survived", data=dataset1, hue="Sex", ax=ax[1])
plt.xticks(np.arange(2), ('NO', 'YES') )
ax[1].set_xlabel("Survived", fontsize=15, color='b')
ax[1].set_ylabel("Count", fontsize=15, color='b')
ax[1].set_title("Survival Rate by Sex", fontsize=15, color='m')


for o in range(2):
    for p in ax[o].patches:
      total = float(len(dataset1))
      height = p.get_height()
      ax[o].text(p.get_x()+p.get_width()/2.,
      height + 3, '{0:.0%}'.format(height/total), ha="center", fontsize=15)
plt.show()

In [ ]:
fig,ax = plt.subplots(figsize=(8,6))
sns.countplot(x="Survived", data=dataset1, hue="Pclass", ax=ax)
plt.title('Survived Rate by Pclass', fontsize=15, color='m')
plt.xlabel('Survived', fontsize=15, color='b')
plt.ylabel('Count', fontsize=15, color='b')
plt.xticks(np.arange(2), ('NO', 'YES'))
for k in range(2):
    for p in ax.patches:
      total = float(len(dataset1))
      height = p.get_height()
      ax.text(p.get_x()+p.get_width()/2.,
      height + 3, '{0:.0%}'.format(height/total), ha="center", fontsize=15)
plt.show()

In [ ]:
fig, ax = plt.subplots(figsize=(8,6))
sns.countplot(data=dataset1, x="Embarked", hue='Survived', ax=ax )
plt.title('Survived Rate by boarding Places', fontsize=15, color='m')
plt.xlabel('Embarked', fontsize=15, color='b')
plt.ylabel('Count', fontsize=15, color='b')
plt.xticks(np.arange(3), ('Southampton', 'Cherbourg', 'Queenstown'))
for k in range(3):
    for p in ax.patches:
      total = float(len(dataset1))
      height = p.get_height()
      ax.text(p.get_x()+p.get_width()/2.,
      height + 3, '{0:.0%}'.format(height/total), ha="center", fontsize=15)
plt.show()
plt.show()

In [ ]:
sns.lmplot(x="Fare", y="Survived", data=dataset1, logistic=True)
plt.show()

In [ ]:
sns.lmplot(x="Age", y="Survived", data=dataset1, logistic=True)
plt.show()

# Features Extraction

In [ ]:
dataset1.head()

In [ ]:
"sir" in dataset1['Name']

In [ ]:
# Selection des variables
dataset1 = dataset1.loc[:, ["Survived", 
                          "Pclass", 
                          "Sex", 
                          "Age", 
                          "SibSp", 
                          "Parch",
                          "Fare",
                          "Embarked"]]
dataset1.head()

In [ ]:
dataset2 = dataset2.loc[:, [ 
                          "Pclass", 
                          "Sex", 
                          "Age", 
                          "SibSp", 
                          "Parch",
                          "Fare",
                          "Embarked"]]
dataset2.head()

In [ ]:
# Gestion des NaN 
# Enlever la colonne ID
# dataset = dataset.iloc[:, 1:]
# dataset = dataset.drop(['User ID'], axis=1)

In [ ]:
# Remplacement des NaN dans la colonne 'Age' par la mediane des ges
dataset1['Age'].fillna(value = dataset1['Age'].median(), inplace=True)
dataset1.isnull().any()

In [ ]:
dataset1["Embarked"].value_counts()

In [ ]:
# Remplacement des NaN dans la colonne 'Embarked' par 'S'
dataset1['Embarked'].fillna("S" , inplace=True)

In [ ]:
# Dummyfication 
dataset1 = pd.get_dummies(dataset1, drop_first=True)
dataset1.head()

In [ ]:
#Test delete Embarked_Q and Parch columns
dataset1.drop(["Parch", "Embarked_Q"], axis=1, inplace=True)

In [ ]:
dataset1.isnull().any()

In [ ]:
#dataset2 -- test-set
dataset2.isnull().any()

In [ ]:
# Remplacement des NaN dans la colonne 'Age' par la mediane des ges
dataset2['Age'].fillna(value=dataset2['Age'].median(), inplace=True)
dataset2.isnull().any()

In [ ]:
# Remplacement des NaN dans la colonne 'Fare' par la median des 'Fare'
dataset2['Fare'].fillna(value=dataset2['Fare'].median(), inplace=True)
dataset2.isnull().any()

In [ ]:
# Dummyfication
dataset2 = pd.get_dummies(data=dataset2, drop_first=True)
dataset2.head()

In [ ]:
#Test delete Embarked_Q and Parch columns
dataset2.drop(["Parch", "Embarked_Q"], axis=1, inplace=True)

In [ ]:
# Sparation des X & y pour le train-set:
X_t = dataset1.iloc[:,1:]
y_t = dataset1.iloc[:, 0]

In [ ]:
# Feature Scaling, Normalisation:
from sklearn.preprocessing import StandardScaler

sc_x = StandardScaler()
X_t = sc_x.fit_transform(X_t)

In [ ]:
 #Train_test_split:
 from sklearn.model_selection import train_test_split
 X_train, X_test, y_train, y_test = train_test_split(X_t, y_t, test_size=0.2, random_state=42)

In [ ]:
# Application du modle
from sklearn.linear_model import LogisticRegression

classifier = LogisticRegression()
classifier.fit(X_train, y_train)

In [ ]:
y_train_pred = classifier.predict(X_train)

In [ ]:
y_test_pred = classifier.predict(X_test)

In [ ]:
from sklearn.metrics import f1_score, classification_report

In [ ]:
f1_score(y_test, y_test_pred)

In [ ]:
# Parch en Embarked_Q deleted
f1_score(y_test, y_test_pred)

In [ ]:
print(classification_report(y_test, y_test_pred))

In [ ]:
# Parch en Embarked_Q deleted
print(classification_report(y_test, y_test_pred))

In [ ]:
# Evaluation du modle
# NB Nous ne disposons pas des valeurs relles de y_test, donc le score serait de 100%
print("Train score : {}".format(classifier.score(X_train , y_train)*100))
print("Test score : {}".format(classifier.score(X_test , y_test)*100))

In [ ]:
# Prdiction de y_test
X_test_kaggle = dataset2
y_test_kaggle_pred = classifier.predict(X_test_kaggle)

In [ ]:
y_test_kaggle_pred

In [ ]:
# Matrice de confusion 
from sklearn.metrics import confusion_matrix

cm = confusion_matrix(y_test, y_test_pred)
cm

In [ ]:
# Visualisation
fig, ax = plt.subplots(figsize=(10,5))
ax = sns.heatmap(cm, annot=True, fmt='.2f' ) 
bottom, top = ax.get_ylim()
#ax.set_ylim(bottom + 0.5, top - 0.5)
plt.title("Matrice de confusion du train-set")
plt.show()

In [ ]:
classifier.coef_.squeeze()

Features importance

In [ ]:
coef = pd.DataFrame((abs(classifier.coef_.squeeze())).T, index=X_test_kaggle.columns, columns=['abs_coef'])
coef

In [ ]:
coef['abs_coef'].sort_values(ascending=False)

In [ ]:
X_test_kaggle.columns

In [ ]:
# Test-set Feature importance 
imp = pd.DataFrame({"Features": ["Pclass", "Age", "SibSp", "Parch", "Fare", "Sex_male", "Embarked_Q", "Embarked_S"],
              "Values": abs(classifier.coef_.squeeze())})
imp.sort_values( by ="Values", ascending=False)

# Les femmes et les enfants d'abord, sans oubli les plus aiss!

En effet, nous pouvons constater avec stupfaction que le top 3 des variables qui o ayant le plus d'impact dans la survie des passagers du titanic est : le sexe(Sex_male), la classe (Pclasse) ainsi que l'Age.

In [ ]:
# Matrice de corrlation du train-set
corr = dataset1.corr()
f, ax = plt.subplots(figsize=(15, 8))
ax = sns.heatmap(corr, annot=True) 
bottom, top = ax.get_ylim()
ax.set_ylim(bottom + 0.5, top - 0.5)
plt.title("Matrice de corrlation du train-set")
plt.show()

In [ ]:
Survied = pd.DataFrame(data = y_test, columns = ["Survied"])
Survied.to_csv("y_test.csv")
Survied.head()

In [ ]:
# Reconstitution du test_set en incluant la colonne Survived
test_set = pd.concat((Survied, dataset2), axis=1)
test_set.head()

In [ ]:
S= test_set.iloc[:, 0]
G= test_set.iloc[:, 6]

In [ ]:
gender_submission_test = pd.concat((S, G), axis=1)
gender_submission_test.head()

In [ ]:
### Exportation de test_set de jupyter sous format csv 
test_set.to_csv("gender_submission_test.csv")

In [ ]:
# Amlioration de la prdiction
# Cration d'un modle d'arbres de decisions
from sklearn.tree import DecisionTreeClassifier

classifier = DecisionTreeClassifier()
classifier.fit(X_train, y_train)

In [ ]:
# Prdiction de y_test avec le modle d'arbres de decisions
X_test = dataset2
y_test = classifier.predict(X_test)

In [ ]:
# Evaluation du modle en pourcentage
print("Train Score : {}".format(classifier.score(X_train, y_train)*100))
print('Test Score : {}'.format(classifier.score(X_test, y_test)*100))

Nous constatons une nette amlioration de la prdiction du modle.

In [ ]:
# Tentons d'appliquer un autre modle : le random forest 
from sklearn.ensemble import RandomForestClassifier

classifier = RandomForestClassifier()
classifier.fit(X_train, y_train)

In [ ]:
# Prdiction de y_test avec le random forest
X_test = dataset2
y_test = classifier.predict(X_test)

In [ ]:
# Evaluation du modle en pourcentage
print("Train Score : {}".format(classifier.score(X_train, y_train)*100))
print('Test Score : {}'.format(classifier.score(X_test, y_test)*100))

Nous obtenons le mme score qu'avec l'arbre de dcision

In [ ]:
# Tentons de mettre plus d'arbres dans le random forest
classifier = RandomForestClassifier(n_estimators = 300, max_depth=20)
classifier.fit(X_train, y_train)

In [ ]:
# Prediction of y_test
X_test = dataset2
y_test = classifier.predict(X_test)

In [ ]:
# Evaluation du modle en pourentage
print("Train Score : {}".format(classifier.score(X_train, y_train)*100))
print('Test Score : {}'.format(classifier.score(X_test, y_test)*100))

Nous obtenons les mmes scores qu'avec les deux modles prcdents, nous pouvons alors supposer que le modle a atteint son maximum de prcision.
Il faut garder  l'esprit que nous ne pouvons pas atteindre les 100% dans une prdiction, tant que le modle ne sera jamais parfait.
Les 100% du Test s'explique par le fait qu'il a t compar  lui-mme. Le Test doit tre soumis  Kaggle afin d'valuer sa prcision.